/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------------------------------*/
header {
    align-items: center;
    display: flex;
    height: 150px;
    justify-content: space-between;
    background-color: black;
    color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    h1 {
        font-size: 80px;
    }
}
body {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    article {
        background-color: whitesmoke;
    }
    p {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 20px;
    }
}
.career {
    display: flex;
    flex-direction: row;
    height: 420px;
    justify-content: center;
    div {
        margin-top: 50px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 50px;
        color: indigo;
    }
    h3 {
        font-size: 30px;
    }
    p {
        margin: 30px 100px 0px;
    }
}
.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 100px;
}
.preAd {
    font-size: 40px;
    margin-bottom: 20px;
}
.titles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    h2 {
        width: 50%;
        font-size: 40px;
        color: indigo;
        margin-bottom: 20px;
    }
    p {
        width: 45%;
        margin-bottom: 20px;
    }
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .owl-carousel {
        width: 49%;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}
footer {
    font-family: 'Open Sans Condensed', sans-serif;
    align-items: center;
    display: flex;
    height: 150px;
    justify-content: center;
    background-color: black;
    color: whitesmoke;
    h1 {
        font-size: 25px;
        margin-bottom: 5px;
    }
    h2 {
        font-size: 20px;
    }
}